@import "../style.css";

body {
	padding-right: calc(var(--menu-width)*0.25);
	padding-left: calc(var(--menu-width)*0.25);
}

.search {
  display: flex;
  box-sizing: border-box;
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  font: 20px Arial, Helvetica, sans-serif;
  background: #31312DFF;
  transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search.input:hover {
  font-weight: bold;
  background: var(--zelda-lightgreen);
  transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search.input:focus {
  width: 30vw;
  height: 7vh;
  font-weight: bold;
  cursor: default;
  color: var(--zelda-yellow);
  background: var(--zelda-darkgreen);
  border: 5px solid var(--zelda-yellow);
  transform: translateY(-1vh);
  transition: all 1s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}