@import "../style.css";

@media only screen and (max-width: 300px){
	textarea {
		width:45vw;
	}
	button, input {
		width: 20vw;
	}
}

body {
	overflow: hidden;
}

textarea {
	width:90vw;
	background-color: var(--zelda-white);
	height: 70vh;
	resize: none;
	font-size: 2rem;
}

button, input {
	width: 45vw;
	height: 7vw;
	font-size: 2rem;
	background-color: var(--zelda-yellow);
}