@import "../style.css";

body {
	overflow: hidden;
}

textarea {
	width: 90vw;
	background-color: var(--zelda-white);
	height: 80vh;
	resize: none;
	font-size: 2em;
	overflow: hidden;
}

button, input {
	width: 40vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
	height: 10vh;
	font-size: 2em;
}

button {
	background-color: var(--zelda-yellow);
}

button.active {
	background-color: transparent;
}

input {
	color: var(--zelda-yellow);
	background-color: var(--zelda-black);
}

input.active {
	color: var(--zelda-black);
	background-color: var(--zelda-yellow);
}