@import "../style.css";

body {
	padding-right: calc(var(--menu-width)*0.25);
	padding-left: calc(var(--menu-width)*0.25);
}

.search {
  display: inline-block;
	position: relative;
  box-sizing: border-box;
  min-width: 4rem;
  max-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  font: 20px Arial, Helvetica, sans-serif;
  transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input {
  width: 9rem;
  cursor: pointer;
  background: transparent;
}

.button {
  cursor: pointer;
  background: var(--zelda-darkgreen);
}

.input:hover {
  font-weight: bold;
  background: var(--zelda-lightgreen);
  transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input:focus {
  width: 30rem;
  height: 7vh;
  font-weight: bold;
  cursor: default;
  color: var(--zelda-yellow);
  background: var(--zelda-darkgreen);
  border: 5px solid var(--zelda-yellow);
  transform: translateY(-1vh);
  transition: all 0.5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
}