@import "../style.css";

:root {
  --board-height: 60vh;
}

body {
	overflow: hidden;
}

table, tr, td {
  border: 1px solid black;
}

td {
    width:calc(var(--board-height)/3);
    height:calc(var(--board-height)/3);
    z-index:0;
  }
  td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:10;
}
 
  table{
    width: var(--board-height);
    height: var(--board-height);
    border-collapse: collapse;
  }